//--------------------------
// Buttons
//--------------------------

// Button-default
//--------------------------

.btn {
  background: white;
  border: .1rem solid gray;
  border-radius: .5rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  min-width: 10rem;
  margin: 1rem;
  outline: none;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .65;
  }
}

// Button-success
//--------------------------

.btn_success {
  border: .1rem solid green;
  background: green;
  color: white;

  &.btn_border {
    color: green;
  }
}

// Button-warning
//--------------------------

.btn_warning {
  border: .1rem solid orange;
  background: orange;
  color: white;

  &.btn_border {
    color: orange;
  }
}

// Button-dander
//--------------------------

.btn_danger {
  border: .1rem solid orangered;
  background: orangered;
  color: white;

  &.btn_border {
    color: orangered;
  }
}

// Button-disabled
//--------------------------

.btn_disabled {
  opacity: .5 !important;
  cursor: default;
}

// Button-border
//--------------------------

.btn_border {
  background: white;
}

// Buttons-size
//--------------------------

.btn_s {
  font-size: 1rem;
}

.btn_m {
  font-size: 1.6rem;
}

.btn_l {
  font-size: 2.2rem;
}

// Buttons-special
//--------------------------

.btn_full-size {
  display: block;
}

.btn_no-width {
  min-width: inherit;
}

.btn_no-side-padding {
  padding: 1rem 0;
}

.btn_animation {
  transition: all .5s;

  .btn__text {
    display: inline-block;
    position: relative;
    transition: .5s;

    &::after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -1rem;
      transition: .5s;
    }
  }

  &:hover {
    .btn__text {
      padding-right: 1rem;

      &::after {
        opacity: 1;
        right: 0;
      }
    }
  }
}