html {
  font-size: 10px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}

.content {
  width: 60rem;
}

.title {
  font-size: 2rem;
  margin: 1rem;
}

.title-block {
  font-size: 1.6rem;
  margin: 1rem;
}

.title-block-sub {
  font-size: 1.2rem;
  margin: 1rem;
}

.text {
  font-size: 1.6rem;
  margin: 1rem;
}